/*bacground-image: https://github.com/ezsystems/slides/blob/gh-pages/slides/ezplatform-using-solr-and-php7/imgs/eZ-Logo.svg*/
.reveal .slides::after {
    content: "";
    background-image: url("../img/eZ-Logo.svg");
    background-size: 20%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /*opacity: 0.2;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
/*
.reveal .slides:hover::after {
    opacity: 0.8;
}
*/
.reveal section img {
    background: transparent;
    border: 0;
}
.reveal table td {
    border-bottom: 0 none;
}

.reveal ul ul li {font-size: 85%; }

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled{border-right-color: #000000;}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled{border-left-color: #000000;}
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {border-bottom-color: #000000;}
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {border-top-color: #000000;}

.reveal .controls .navigate-left.enabled:hover{border-right-color: #1f1f1f;}
.reveal .controls .navigate-right.enabled:hover{border-left-color: #1f1f1f;}
.reveal .controls .navigate-up.enabled:hover{border-bottom-color: #1f1f1f;}
.reveal .controls .navigate-down.enabled:hover{border-top-color: #1f1f1f;}
